
body	{
        	font-family: 'Quicksand', sans-serif;
        	text-align: center;
}

h1	{
			margin-top: 2.3em;
}
        	
#button	{
			display: inline-block;
			background-color: #bee9e9;
			
			font-family: inherit;
			font-style: italic;
			
			width: 9em;
			height: 4em;
			
			margin: 5em 0;
}

#button:hover	{
			box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.22);
			transition: .2s ease;
}