/*
Aufgabe: Nr. 3 - Schneegestöber
Name: Priska Maier
Matrikel: 256326
Datum: 04.11.17
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/


body	{
			font-family: 'Oswald', sans-serif;	
}