/*
	Aufgabe: Semesteraufgabe - Persönliches Online Portfolio
	Name: Priska Maier
	Matrikel: 256326
	Datum: 19.07.2017
	Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
	Er wurde nicht kopiert und auch nicht diktiert.
*/


/*Smartphone - <570px*/


body	{
			font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
			background-color: #f4f2f2;
			margin: 0;
}

header	{
			position: relative;
			top: 0;
			left: 0;
			height: 5.8em;
			width: 100%;
			z-index: 10;
			
			background-color: black;
			color: white;
}

#name	{
			position: absolute;
			top: .5em;
			left: 1.2em;
			z-index: 150;
}

#name img	{
			max-width: 35%;
}

#sidenav	{
			position: fixed;
			float: right;
			right: -2.5em;
			top: .85em;
			z-index: 300;
			
			padding: 1em;
			
			background-color: black;
			color: white;
}

#sidenav img	{
			width: 20%;
}


#sidenav a:hover	{
			opacity: .6;
			transition: .4s ease;
}


.head	{
			z-index: 20;
			margin: .5em 0;
			
			clear: both;
			text-align: center;
			font-family: 'Abril Fatface', cursive;
			font-size: 1.7em;
}

#about	{
			position: relative;
			top: -1%;
			z-index: 50;
			margin-bottom: 4.8em;
			text-align: center;
}


#works	{
			position: relative;
			z-index: 100;
}

#works-head	{
			position: relative;
			top: -1%;
}

.w	{
			position: relative;
			
			margin: 1.3em 1em;
			padding: .3em;
			
			text-align: center;
			cursor: pointer;
			font-size: .85em;
			color: white;
			background-color: black;
}

.w:hover	{
			opacity: .8;
			transition: .4s ease;
}

.w:hover hr	{
			width: 75%;
			transition: .3s
}

.contentbox	{
			position: relative;
			left: 2%;
			float: left;
			z-index: 60;
			
			margin: 2%;
			padding: 1em;
			
			width: 85%;
			height: auto;
			
			text-align: center;
			
			line-height: 0;
			
/* 			-webkit-column-count: 1; */
/* 			-webkit-column-gap: 0px; */
/* 			-moz-column-count: 1; */
/* 			-moz-column-gap: 0px; */
/* 			column-count: 1; */
/* 			column-gap: 0px; */
}

.contentbox img	{
			width: 62%;
			border: 1px solid black;
			padding: 1.3em;
			z-index: 70;
}

.contentbox img:hover	{
			box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.22);
			transition: .2s;
}

.captionbox	{
			position: relative;
			left: 4%;
			height: 2em;
			width: 90%;
			
			padding-top: 1.8em;
			margin: .3em;
			
			text-align: center;
			color: white;
			background-color: #141212;
			
}

footer	{
			position: relative;
			bottom: 0;
			left: 0;
			height: 37.5em;
			width: 100%;
			z-index: 120;
			clear: both;
			
			margin-top: 1em;
			
			color: white;
			background-color: #1a1515;
			font-size: .95em;
}

#contact	{
			position: absolute;
			top: .25em;
			left: 25%;
			
			height: 3em;
			width: 11.5em;
}

#contact ul	{
			list-style: none;
			padding: 0;
}

#cont-1	{
			position: absolute;
			top: 3em;
			
			text-align: left;
			float: left;
}

#cont-2	{
			position: absolute;
			top: 3em;
			left: 7.5em;
			
			text-align: right;
			float: left;
}

#cont-1 li,
#cont-2 li	{
			padding: .5em 0;
}

#contact hr	{
			position: absolute;
			right: 0;
			width: 18em;
			margin: 0;
}


#cont-adress	{
			position: absolute;
			top: 13.4em;
			left: 25%;
			width: 10em;
			
			float: left;
			text-align: center;
			font-size: 1.3em;
}

#hfu-logo	{
			position: absolute;
			top: 30em;
			right: 40%;
			
			text-align: right;
			float: right;
}

#hfu-logo img	{
			max-width: 28%;
}


@media screen and (min-width: 35.625em) /*Tablet Portrait - <768px*/	{
			
			.contentbox	{
						width: 40%;
						left: 6%;
						margin: 2%;
						padding: 1em 0;
						
/* 						-webkit-column-count: 2; */
/* 						-moz-column-count: 2; */
/* 						column-count: 2; */
			}
			
			#contact	{
						left: 28%;
			}
			
			#hfu-logo	{
						right: 45%;
			}
			
}

@media screen and (min-width: 48em) /*Tablet Landscape - <1024px*/	{

			header	{
						background-color: transparent;
			}
			
			#header-box1	{
						position: absolute;
						height: 6em;
						width: 14em;
						
						border: 1px solid white;
						background-color: black;
						z-index: 130;
			}
			
			#header-box2	{
						position: absolute;
						height: 7.2em;
						width: 15.2em;
						
						border: 1px solid white;
						background-color: black;
						z-index: 120;
			}
			
			#header-box3	{
						position: absolute;
						left: 1.2em;
						height: 6em;
						width: 15.2em;
						
						border: 1px solid white;
						background-color: black;
						z-index: 110;
			}
			
			#sidenav	{
						color: black;
			}
	
			.w	{
						left: 9%;
						float: left;
						padding: 0 2%;
			}
			
			.contentbox	{
						width: 25%;
						left: 7%;
						padding: .5em 0;
						
/* 						-webkit-column-count: 3; */
/* 						-moz-column-count: 3; */
/* 						column-count: 3; */
			}
			
			footer	{
						height: 15em;	
			}
			
			#contact	{
						left: 3em;
			}
			
			#cont-adress	{
						top: 2.4em;
						left: 180%;
			}
			
			#hfu-logo	{
						top: 6em;
						right: 5%;
			}
	
}

@media screen and (min-width: 64em) /*Desktop - >1024px*/	{

			.w	{
						left: 13%;
						padding: 0 3%;
			}
	
			.contentbox	{
						width: 44%;
						left: 4%;
						
/* 						-webkit-column-count: 3; */
/* 						-moz-column-count: 3; */
/* 						column-count: 3; */
			}
			
			#cont-adress	{
						left: 21em;
			}
			
			#hfu-logo	{
						right: 5em;
			}
	
}


















