/*
Aufgabe: Nr. 8 - DynHTML: RandomBoxes
Name: Priska Maier
Matrikel: 256326
Datum: 17.12.17
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
 */
 

body	{
		font-family: 'Special Elite', cursive;	
}

div	{
		position: relative;
		display: inline;
		float: left;
		text-align: center;
}

.letterbox:hover	{
/* 		opacity: 1; */
/* 		transition: opacity 500ms ease-out; */
		background-color: #898a89;
}