/*
Aufgabe: Nr. 4 - Assoziative Skipiste
Name: Priska Maier
Matrikel: 256326
Datum: 12.11.17
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/


body	{
			font-family: 'Oswald', sans-serif;	
}