/*
Aufgabe: Nr. 1 - Skipiste
Name: Priska Maier
Matrikel: 256326
Datum: 11.10.17
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/


body	{
			font-family: 'Oswald', sans-serif;	
}